// Font options
$montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$base-font: $montserrat;

// Colors

// Base colors
$base-text: #333333;
// tarnsition
$base-duration: 0.3s;
$base-timing: ease-in-out;
// BP
$mobile-bp: 1000px;
$desktop-bp: 1024px;
$large-bp: 1366px;
