.breadcrumb-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #828282;
  font-size: 14px;
  line-height: 20px;
}
.breadcrumb-item__list {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.breadcrumb-item {
  display: inline-block;
  color: #828282;
}
a.breadcrumb-item {
  &:hover {
    color: #828282;
    text-decoration: none;
    opacity: 0.8;
  }
}
