.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  height: 100%;
}
.catalog-item__badge {
  position: absolute;
  top: 3px;
  right: 0;
  width: 94px;
  height: 112px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/star-badge.png");
  z-index: 1;
}
.catalog-item__img-wrapper {
  margin: 0 auto;
  width: 164px;
  height: 186px;
  margin-bottom: 8px;
}
.catalog-item__img {
  display: block;
  object-fit: contain;
  object-position: center;
}
.catalog-item__title {
  min-height: 56px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #78859d;
}
.catalog-item__text {
  min-height: 50px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
.catalog-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 20px;
}
.catalog-item__cost {
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  color: #333;
}
.catalog-item__stars {
  display: flex;
  justify-content: flex-end;
}
.catalog-item__star-icon {
  flex: 0 0 auto;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/star-icon.svg");
  &:last-child {
    margin-right: 0;
  }
}
.catalog-item_btn {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 0 17px;
  background-repeat: no-repeat;
  background-position: right 10px top 14px;
  background-image: url("../images/icons/bas-catalog-btn.svg");
}
