button,
.btn,
input[type="submit"] {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-family: $base-font;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  padding: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.btn-main {
  @extend .btn;
  background-color: #78859d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  &:hover {
    color: #fff;
    background-color: rgba($color: #78859d, $alpha: 0.8);
  }
}
.btn-white-border {
  @extend .btn;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
  }
}

.btn-hamburger {
  width: 30px;
  height: 30px;
  padding: 5px;
  &.btn-hamburger--active {
    .btn-hamburger-icon {
      &::before {
        transform: scaleX(0.5) translate(-1px, 7px) rotate(-28deg);
      }
      &::after {
        transform: scaleX(0.5) translate(-2px, -7px) rotate(28deg);
      }
    }
  }
}
.btn-hamburger_header {
  margin-right: auto;
  display: none;
  @media all and (max-width: $mobile-bp) {
    display: block;
  }
}
.btn-hamburger__icon {
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: #78859d;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #78859d;
    transition: transform $base-duration $base-timing;
    transform-origin: left;
  }
  &::before {
    top: -7px;
  }
  &::after {
    bottom: -7px;
  }
}
.btn-base-text {
  color: #333;
  &:hover {
    opacity: 0.8;
  }
}

.btn-main__basket-text {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: -24px;
    width: 17px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/icons/bas-catalog-btn.svg");
  }
}
