{% macro breadcrumbs(breadcrumbsItems) %}
<ul class="breadcrumb-item-wrapper">
    <li class="breadcrumb-item__list">
        <a href="/" class="breadcrumb-item">
            Главная
        </a>
        /
    </li>
    {% for item in breadcrumbsItems %}
    {% if not loop.last %}
    <li class="breadcrumb-item__list">
        <a href="#" class="breadcrumb-item">
            {{item}}
        </a>
        /
    </li>
    {% else %}
    <li class="breadcrumb-item__list">
        <span href="#" aria-current="page" class="breadcrumb-item">
            {{item}}
        </span>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endmacro %}