<footer class="main-footer">
    <div class="c-container">
        <div class="c-row c-row__main-footer">
            <div class="main-footer__col">
                <div class="footer-social">
                    <form class="email-form email-form_footer">
                        <label class="email-form__label">
                            <span class="visually-hidden">Подписаться на рассылку</span>
                            <input type="email" class="email-form__input" placeholder="E-mail">
                        </label>
                        <button class="btn-white-border btn-white-border_email-form" type="submit">подписаться</button>
                    </form>
                    <a href="#" class="main-footer__text-link">Доставка и оплата</a>
                    <div class="footer-social__wrapper">
                        <p class="footer-social__title">Присоединяйтесь</p>
                        <div class="footer-social__items-row">
                            <a href="#" class="footer-social__item footer-social__item_inst">
                                <span class="visually-hidden">Космедикс в инстаграм</span>
                            </a>
                            <a href="#" class="footer-social__item footer-social__item_fb">
                                <span class="visually-hidden">Космедикс в фейсбук</span>
                            </a>
                            <a href="#" class="footer-social__item footer-social__item_yt">
                                <span class="visually-hidden">Космедикс в ютуб</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="main-footer__col">
                <div class="main-footer__empty-top">
                    <a href="#" class="main-footer__text-link main-footer__list-item">Политика
                        конфидециальности</a>
                    <a href="#" class="main-footer__text-link main-footer__list-item">Пользовательское
                        соглашение</a>
                </div>
            </div>
            <div class="main-footer__col">
                <div class="main-footer__empty-top">
                    <p class="main-footer__text main-footer__list-item">ООО «Бьюти Концепт» (ГК ERSTA)</p>
                    <a href="tel:+7-495-644-00-08" class="main-footer__text-link main-footer__list-item">+7 (495)
                        644-00-08</a>
                    <a href="mailto:info@cosmedix-russia.ru"
                        class="main-footer__text-link main-footer__list-item">info@cosmedix-russia.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>