<header class="main_header">
    <div class="main_header__search js--header-search">
        <label class="main_header__search-wrapper">
            <span class="visually-hidden">Окно поиска</span>
            <input type="search" class="main_header__search-input js--header-search-input"
                placeholder="Поиск по продуктам...">
        </label>
        <button class="main_header__search-btn main_header__search-btn_search">
            <span class="visually-hidden">Поиск</span>
        </button>
        <button class="main_header__search-btn main_header__search-btn_close js--toggle-search">
            <span class="visually-hidden">Закрыть поиск</span>
        </button>
    </div>
    <div class="main_header__top">
        <div class="c-container c-container_main_header_top">
            <a href="/" class="main_header__mobile-logo">
                <img class="main_header__mobile-logo-img" src="../images/icons/header-logo.svg" alt="Логотип Космедикс">
            </a>
            <button class="btn-hamburger btn-hamburger_header js--header-nav-toggle">
                <span class="btn-hamburger__icon"></span>
                <span class="visually-hidden">меню</span>
            </button>
            <button class="main_header__top_btn main_header__top_btn__ds main_header__top_btn_search js--toggle-search">
                <span class="visually-hidden">Открыть поиск</span>
            </button>
            <button class="main_header__top_btn main_header__top_btn__ds main_header__top_btn_lk">
                <span class="visually-hidden">Личный кабинет</span>
            </button>
            <button class="main_header__top_btn main_header__top_btn__ds main_header__top_btn_basket">
                <span class="visually-hidden">Корзина</span>
            </button>
        </div>
    </div>
    <div class="main_header__bottom js--header-nav">
        <div class="main_header-overlay js--header-nav-toggle"></div>
        <div class="c-container c-container_main_header">
            <button class="main_header-btn-close js--header-nav-toggle" type="button">
                <span class="visually-hidden">Закрыть</span>
            </button>
            <div class="main_header__bottom-head">
                <a href="/" class="main_header__logo">
                    <span class="visually-hidden">Главная страница</span>
                    <img class="main_header__logo_img" src="../images/icons/header-logo.svg" alt="Логотип Космедикс">
                </a>
                <div class="main_header__bottom-head__btns">
                    <button class="main_header__top_btn main_header__top_btn_search js--toggle-search">
                        <span class="visually-hidden">Открыть поиск</span>
                    </button>
                    <button class="main_header__top_btn main_header__top_btn_lk">
                        <span class="visually-hidden">Личный кабинет</span>
                    </button>
                    <button class="main_header__top_btn main_header__top_btn_basket">
                        <span class="visually-hidden">Корзина</span>
                    </button>
                </div>
            </div>
            <nav class="main_header__nav">
                <ul class="main_header__list">
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            Главная
                        </a>
                    </li>
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            АКЦИИ
                        </a>
                    </li>
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            Новинки
                        </a>
                    </li>
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            Бестселлеры
                        </a>
                    </li>
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            КАТАЛОГ ПРОДУКТОВ
                        </a>
                    </li>
                    <li class="main_header__list-item">
                        <div class="main_header__dropdown-wrapper">
                            <button class="main_header__dropdown-btn-m js--spoiler-btn">
                                <span class="visually-hidden">Открыть</span>
                            </button>
                            <a href="#" class="main_header__nav-item main_header__list-item_active">
                                Профессионалам
                            </a>
                            <div class="main_header__dropdown-inner js--spoiler-inner">
                                <div class="main_header__dropdown-item">
                                    <button
                                        class="menu__spoiler-item menu__spoiler-item_arrow menu__spoiler-item_bold js--spoiler-btn">Для
                                        лица</button>
                                    <div class="menu__spoiler-inner menu__spoiler-inner_lvl1 js--spoiler-inner">
                                        <div class="menu__spoiler-item__wrapper">
                                            <button
                                                class="menu__spoiler-item menu__spoiler-item_arrow menu__spoiler-item__medium js--spoiler-btn">Тип
                                                кожи</button>
                                            <div class="menu__spoiler-inner menu__spoiler-inner_lvl2 js--spoiler-inner">
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Нормальная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Жирная</a>
                                                <a href="#" class="menu__spoiler-item menu__spoiler-item_thin">Сухая</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Чувствительная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Комбинированная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Проблемная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Зрелая</a>
                                            </div>
                                        </div>
                                        <div class="menu__spoiler-item__wrapper">
                                            <button
                                                class="menu__spoiler-item menu__spoiler-item_arrow menu__spoiler-item__medium js--spoiler-btn">Проблема
                                            </button>
                                            <div class="menu__spoiler-inner menu__spoiler-inner_lvl2 js--spoiler-inner">
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Нормальная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Жирная</a>
                                                <a href="#" class="menu__spoiler-item menu__spoiler-item_thin">Сухая</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Чувствительная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Комбинированная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Проблемная</a>
                                                <a href="#"
                                                    class="menu__spoiler-item menu__spoiler-item_thin">Зрелая</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main_header__dropdown-item">
                                    <a href="#" class="menu__spoiler-item menu__spoiler-item_bold">Для тела</a>
                                </div>
                                <div class="main_header__dropdown-item">
                                    <a href="#" class="menu__spoiler-item menu__spoiler-item_bold">Элит</a>
                                </div>
                                <div class="main_header__dropdown-item">
                                    <a href="#" class="menu__spoiler-item menu__spoiler-item_bold">Очищение</a>
                                </div>
                                <div class="main_header__dropdown-item">
                                    <a href="#" class="menu__spoiler-item menu__spoiler-item_bold">Наборы</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            Адреса магазинов & салонов
                        </a>
                    </li>
                    <li class="main_header__list-item">
                        <a href="#" class="main_header__nav-item">
                            НАШ БЛОГ
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>