<div class="partners-popop-overlay show js--partners-popup-toggle js--partners-popup"></div>
<div class="partners-popop show js--partners-popup">
    <div class="c-container c-container_partner-popup">
        <p class="partners-popop__title">Уважаемые партнеры!</p>
        <p class="partners-popop__text">
            Перед приобретением продуктов профессиональной линии Cosmedix рекомендуем посетить
        </p>
        <a href="#" class="partners-popop__text__link">раздел «Обучение»</a>
        <p class="partners-popop__text">и познакомится с протоколами фирменных уходов бренда</p>
    </div>
</div>