{% set reccomendData = [
{
img: '../images/img/common/reccomend1.png',
starBadge: false,
title: 'СЫВОРОТКА РЕМОДЕЛИРУЮЩАЯ REFINE',
text: 'Шелковистая и гладкая кожа',
stars: 2,
cost: '6 712'
},
{
img: '../images/img/common/reccomend2.png',
starBadge: true,
title: 'НОЧНАЯ СЫВОРОТКА ДЛЯ БЫСТРОГО ОБНОВЛЕНИЯ С LG-РЕТИНЕКСОМ (24%) SERUM 24',
text: 'Эликсир молодости',
stars: 5,
cost: '10 168'
},
{
img: '../images/img/common/reccomend3.png',
starBadge: false,
title: 'СЫВОРОТКА ОЧИЩАЮЩАЯ ДЛЯ ПРОБЛЕМНОЙ КОЖИ CLARITY',
text: 'Против воспалений и несовершенств кожи',
stars: 4,
cost: '6 712'
},
{
img: '../images/img/common/reccomend4.png',
starBadge: true,
title: 'СЫВОРОТКА РЕМОДЕЛИРУЮЩАЯ REFINE',
text: 'Шелковистая и гладкая кожа',
stars: 3,
cost: '6 712'
},
{
img: '../images/img/common/reccomend1.png',
starBadge: true,
title: 'СЫВОРОТКА РЕМОДЕЛИРУЮЩАЯ REFINE',
text: 'Шелковистая и гладкая кожа',
stars: 4,
cost: '6 712'
}
]%}
<div class="reccomend-promo">
    <div class="reccomend-promo__slider js--reccomend-slider">
        {% for data in reccomendData %}
        <div class="reccomend-promo__slide">
            <div class="reccomend-promo__item">
                <div class="reccomend-promo__img-block">
                    {% if data.starBadge %}
                    <span class="reccomend-promo__badge">
                        <span class="visually-hidden">выбор звезд</span>
                    </span>
                    {% endif %}
                    <img src='{{data.img}}' alt="{{data.title}}" class="reccomend-promo__img">
                </div>
                <p class="reccomend-promo__title">{{data.title}}</p>
                <p class="reccomend-promo__text">{{data.text}}</p>
                <div class="reccomend-promo__bottom">
                    <span class="reccomend-promo__cost">{{data.cost}}₽</span>
                    <div class="reccomend-promo__stars">
                        {% for i in range(0, data.stars) %}
                        <div class="reccomend-promo__star"></div>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn-main reccomend-promo__btn">подробнее...</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>