.catalog-page-container {
  padding: 60px 0 30px;
  @media all and (max-width: $mobile-bp) {
    padding: 5px 0 106px;
  }
}
.catalog-breadcrumbs-section {
  margin-bottom: 40px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 10px;
  }
}
.catalog-section {
  margin-bottom: 30px;
}
.catalog__sidebar-col {
  flex: 0 0 auto;
  width: 278px;
  @media all and (max-width: $mobile-bp) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    transform: translateX(-100%);
    transition: transform $base-duration $base-timing;
  }
  &.show {
    transform: translateX(0);
    .catalog__sidebar-overlay {
      opacity: 1;
      transition: opacity 0.2s $base-duration $base-timing;
    }
  }
}
.catalog__product-col {
  flex-basis: calc(100% - 278px);
  max-width: calc(100% - 278px);
  padding-left: 50px;
  @media all and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 0px;
  }
}
// SIDERBAR
.catalog__sidebar {
  position: sticky;
  top: 180px;
  @media all and (max-width: $mobile-bp) {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 350px;
    height: 100%;
    overflow-y: auto;
    padding: 20px 30px 40px 30px;
    background-color: #fff;
    z-index: 2;
  }
}
.catalog__sidebar-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 133, 157, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity 0s $base-timing;
  @media all and (max-width: $mobile-bp) {
    display: block;
  }
}
.catalog__sidebar-btn-close {
  display: none;
  position: absolute;
  top: 8px;
  right: 0;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  background-image: url("../images/icons/close-popup.svg");
  &:hover {
    opacity: 0.8;
  }
  @media all and (max-width: $mobile-bp) {
    display: block;
  }
}
.base-sidebar__item-wrapper {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.base-sidebar__title {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.15em;
  color: #000;
}
.base-sidebar__item {
  display: block;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
.base-sidebar__input {
  @extend .visually-hidden;
  &:checked + .base-sidebar__text {
    font-weight: bold;
  }
}
.base-sidebar__text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  cursor: pointer;
}
.base-sidebar__text_active {
  display: table;
  &:hover {
    opacity: 0.8;
    transition: opacity $base-duration $base-timing;
  }
}
.base-sidebar__search-btn {
  display: block;
  width: 100%;
  padding: 12px 10px 10px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
}
.base-sidebar__reset-btn {
  display: block;
  margin: 0 auto;
}
.catalog__product-item-col {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 48px * 2) / 3);
  max-width: calc((100% - 48px * 2) / 3);
  margin: 0 48px 72px 0;
  &:nth-child(3n) {
    margin: 0 0 72px 0;
  }
  @media all and (max-width: 1220px) {
    flex-basis: calc((100% - 48px) / 2);
    max-width: calc((100% - 48px) / 2);
    &:nth-child(3n) {
      margin: 0 48px 72px 0;
    }
    &:nth-child(2n) {
      margin: 0 0 72px 0;
    }
  }
  @media all and (max-width: 600px) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0 0 48px 0;
    &:nth-child(2n) {
      margin: 0 0 48px 0;
    }
    &:nth-child(3n) {
      margin: 0 0 48px 0;
    }
  }
}
// PROMO
.catalog-promo {
}
.catalog-promo_title {
  margin-bottom: 70px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 34px;
  }
}
.catalog-promo__col {
  flex-basis: calc((100% - 50px * 2) / 3);
  max-width: calc((100% - 50px * 2) / 3);
  margin-right: 50px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  @media all and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
    padding: 0 25px;
  }
}
// MOBILE NAV
.catalog__nav-bottom {
  display: none;
  justify-content: flex-end;
  width: 100%;
  padding: 7px 26px 0 26px;
  margin: 0 0 14px 0;
  list-style: none;
  @media all and (max-width: $mobile-bp) {
    display: flex;
  }
}
.catalog__nav-item-wrapper {
  display: block;
  margin: 0 8px 0 0;
}
.catalog__nav-item-input {
  @extend .visually-hidden;
  &:checked + .catalog__nav-item {
    &::before {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.catalog__nav-item {
  position: relative;
  display: block;
  padding-right: 10px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../images/icons/filter-arrow.svg");
    transition: transform $base-duration $base-timing;
  }
}
.catalog__nav-item-icon {
  display: block;
}
.c-container_catalog-promo {
  @media all and (max-width: $mobile-bp) {
    padding: 0;
  }
}
.base-slider-arrow_catalog-promo {
  .slick-next {
    right: 2px;
  }
  .slick-prev {
    left: 2px;
  }
}
// SEARCH
.catalog__search {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 30px;
  }
}
.catalog__search-label {
  flex-grow: 1;
  margin: 0;
}
.catalog__search-input {
  width: 100%;
  padding: 14px 6px;
  border: 1px solid #78859d;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  @media all and (max-width: $mobile-bp) {
    padding: 6px 10px;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  &::placeholder {
    color: #bdbdbd;
  }
}
.catalog__search-btn {
  flex: 0 0 auto;
  width: 270px;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 20px;
    width: 140px;
  }
}
