// TOP SLIDER
.mp-slider-section {
  position: relative;
}
.mp-slider {
  position: relative;
}
.mp-slider__dots {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  width: 100%;
  .slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-size: 0;
      line-height: 0;
      color: transparent;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.slick-active {
        button {
          background-color: transparent;
        }
      }
    }
    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #78859d;
      background-color: #78859d;
    }
  }
}
.mp-slide__inner {
  display: block;
  position: relative;
}
.mp-slide__img-wrapper {
  display: block;
  position: relative;
  padding-top: 34.8%;
  @media all and (max-width: $mobile-bp) {
    padding-top: 90%;
  }
}
.mp-slide__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mp-slide__text-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @media all and (max-width: $mobile-bp) {
    position: static;
  }
}
.mp-slide__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 170px;
  @media all and (max-width: $large-bp) {
    padding-bottom: 70px;
  }
  @media all and (max-width: $mobile-bp) {
    padding-bottom: 0;
    padding-top: 14px;
  }
}
.mp-slide__text {
  font-size: 2.5vw;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
  @media all and (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 29px;
    color: #78859d;
  }
}
.mp-slide__text_bold {
  font-weight: bold;
}
.btn-main_mp-slide {
  width: 100%;
  max-width: 388px;
  padding: 15px 0 20px;
  margin-top: 38px;
  font-size: 16px;
  line-height: 20px;
  @media all and (max-width: $mobile-bp) {
    margin-top: 8px;
    max-width: 320px;
  }
}
// ABOUT
.mp-about-section {
  position: relative;
  padding-top: 50px;
  margin-bottom: 70px;
  @media all and (max-width: $mobile-bp) {
    padding-top: 30px;
    margin-bottom: 26px;
    overflow: hidden;
  }
}
.mp-about__img {
  position: absolute;
  width: 100%;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  user-select: none;
  @media all and (max-width: $mobile-bp) {
    top: 320px;
  }
}
.base-page-title_mp-about {
  position: relative;
  display: table;
  margin-bottom: 30px;
  margin: 0 auto 30px auto;
  @media all and (max-width: $mobile-bp) {
    display: none;
    margin: 0 0 8px 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: -27px;
    left: -180px;
    width: 191px;
    height: 239px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-image: url("../images/img/main-page/head-img.png");
    z-index: -1;
    @media all and (max-width: $mobile-bp) {
      left: auto;
      top: -23px;
      right: -70px;
      width: 143px;
      height: 179px;
    }
    @media all and (max-width: 490px) {
      right: -30px;
    }
  }
}
.base-page-title_mp-about-mobile {
  display: none;
  @media all and (max-width: $mobile-bp) {
    display: table;
  }
}
.c-container_mp-about {
  max-width: 1210px;
}
.mp-about__text {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 26px;
  color: #333;
  text-align: center;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
  }
}
.mp-about__item-col {
  flex-basis: calc((100% - 20px) / 2);
  max-width: calc((100% - 20px) / 2);
  margin-right: 20px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  @media all and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
.mp-about__item {
  display: flex;
  margin-bottom: 36px;
  @media all and (max-width: $mobile-bp) {
    flex-direction: column;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.mp-about__item-col-img {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  @media all and (max-width: $mobile-bp) {
    width: auto;
    flex-direction: row;
  }
}
.mp-about__item-col-text {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  margin-top: 16px;
}
.mp-about__item-img {
  display: block;
  @media all and (max-width: $mobile-bp) {
    width: 84px;
    height: 95px;
    margin-right: 18px;
  }
}
.mp-about__item-title {
  min-height: 85px;
  max-width: 205px;
  font-size: 18px;
  line-height: 20px;
  color: #6e717d;
  text-align: center;
  @media all and (max-width: $mobile-bp) {
    min-height: 0px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
  }
}
.mp-about__item-text {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  @media all and (max-width: $mobile-bp) {
    font-size: 14px;
    line-height: 17px;
  }
}
// BESTSELLERS
.mp-bestsellers-section {
  margin-bottom: 100px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 40px;
  }
}
.mp-bestsellers-container {
  max-width: 1210px;
}
.mp-bestsellers__slider {
  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    height: inherit !important;
    > div {
      height: 100%;
    }
  }
}
.mp-bestsellers__col {
  @media all and (max-width: $mobile-bp) {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}
.mp-bestsellers__col_small {
  flex-basis: calc(100% / 4);
  max-width: calc(100% / 4);
  @media all and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.mp-bestsellers__col_big {
  display: flex;
  align-items: center;
  flex-basis: calc(100% / 2);
  max-width: calc(100% / 2);
  padding: 0 10px;
  @media all and (max-width: $mobile-bp) {
    justify-content: center;
    padding: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.mp-bestsellers__item-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
  @media all and (max-width: $mobile-bp) {
    max-width: 400px;
    width: 100%;
  }
}
.mp-bestsellers__item-big {
  position: relative;
}
.mp-bestsellers__page-title {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -35px);
  @media all and (max-width: $mobile-bp) {
    display: none;
  }
}
.mp-bestsellers__mobile-title {
  display: none;
  margin-bottom: 14px;
  @media all and (max-width: $mobile-bp) {
    display: block;
  }
}
.mp-bestsellers_outer-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px 0 45px;
}
.mp-bestsellers__item-img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  @media all and (max-width: $mobile-bp) {
    width: 206px;
    height: 206px;
    padding: 0;
    margin: 0 auto;
  }
}
.mp-bestsellers__item-img {
  display: block;
  max-width: 100%;
}
.mp-bestsellers__item-img_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.mp-bestsellers__item-img_full {
  width: 100%;
}
.mp-bestsellers__item-title {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #78859d;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 24px;
  }
}
.mp-bestsellers__item-text {
  height: 82px;
  font-size: 21px;
  line-height: 27px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
    height: auto;
  }
}
.mp-bestsellers__item-btn {
  font-size: 14px;
  line-height: 17px;
  padding: 8px 15px 10px;
  @media all and (max-width: $mobile-bp) {
    padding: 14px 12px 16px;
    text-align: center;
    max-width: 320px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
.mp-bestsellers__item-btn_bottom {
  margin-top: auto;
}
// STARS
.base-page-title_mp-stars {
  position: relative;
  display: table;
  margin: 0 auto 42px auto;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 20px;
    margin: 0 0 20px 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: -90px;
    top: -113px;
    width: 193px;
    height: 207px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-image: url("../images/img/main-page/star-head.png");
    z-index: -1;
    @media all and (max-width: $mobile-bp) {
      display: none;
    }
  }
}
.mp-stars__text {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
  }
}
// STARS SLIDER
.mp-stars-section {
  margin-bottom: 25px;
}
.c-container_mp-stars {
  quotes: auto;
  max-width: 1210px;
}
.mp-stars__slider {
  margin-bottom: 75px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 42px;
  }
  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    height: inherit !important;
    > div {
      height: 100%;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      font-size: 0;
      line-height: 0;
      color: transparent;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.slick-active {
        button {
          background-color: transparent;
        }
      }
    }
    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #78859d;
      background-color: #78859d;
    }
  }
}

.mp-stars__slide-wrapper {
  height: 100%;
}
.mp-stars__slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 494px;
  padding: 0 50px;
  @media all and (max-width: $mobile-bp) {
    width: 375px;
    padding: 0 0 0 20px;
  }
}
.mp-stars__slider-img-block {
  flex: 0 0 auto;
  position: relative;
  margin-right: 28px;
  height: 369px;
  @media all and (max-width: $mobile-bp) {
    margin-right: 20px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background-image: linear-gradient(
      360deg,
      rgba(116, 111, 111, 0.6) 23.29%,
      rgba(196, 196, 196, 0) 85.5%
    );
    z-index: 1;
  }
}
.mp-stars__slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mp-stars__slider-title {
  position: absolute;
  bottom: 14px;
  left: 16px;
  padding-right: 45px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 24px;
  }
}
.mp-stars__slider-img-product {
  position: absolute;
  right: -26px;
  bottom: 0;
  z-index: 3;
}
.mp-stars__slider-text-block {
  flex-grow: 1;
  position: relative;
  margin: -10px 0 0 54px;
  padding: 30px 30px 36px 30px;
  z-index: 1;
}
.mp-stars__slider-text-block_pink {
  background-image: linear-gradient(
    180deg,
    #d4a4cb 59.37%,
    rgba(212, 164, 203, 0) 100%
  );
}
.mp-stars__slider-text-block_blue {
  background-image: linear-gradient(
    180deg,
    #a5c1cf 54.17%,
    rgba(165, 193, 207, 0) 100%
  );
}
.mp-stars__slider-text-block_green {
  background-image: linear-gradient(
    180deg,
    #779fa6 64.58%,
    rgba(119, 159, 166, 0) 100%
  );
}

.mp-stars__slider-text-block_gray {
  background-image: linear-gradient(
    180deg,
    #c5c7c9 67.19%,
    rgba(197, 199, 201, 0) 100%
  );
}
.mp-stars__slider-text {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 33px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &::before {
    bottom: 100%;
    right: 100%;
    background-image: url("../images/icons/quotes-start.svg");
  }
  &::after {
    top: 100%;
    right: -10px;
    background-image: url("../images/icons/quotes-end.svg");
  }
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 20px;
  }
}

// FEATURE
.mp-feature-section {
  margin-bottom: 124px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 30px;
  }
}
.c-container_mp-feature {
  max-width: 1210px;
}
.base-page-title_mp-feature {
  margin-bottom: 30px;
}
.mp-feature__mobile-slider {
  display: none;
  @media all and (max-width: $mobile-bp) {
    display: block;
  }
}
.c-row_mp-feature {
  justify-content: center;
  @media all and (max-width: $mobile-bp) {
    display: none;
  }
}

.mp-feature-item-col {
  flex-basis: calc((100% - 20px) / 2);
  max-width: calc((100% - 20px) / 2);
  margin: 0 20px 30px 0;
  &:nth-child(2n) {
    margin-right: 0;
  }
}
.mp-feature-item {
  display: flex;
  align-items: center;
  height: 100%;
  @media all and (max-width: $mobile-bp) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.mp-feature-item__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  min-width: 170px;
  margin-right: 15px;
  @media all and (max-width: $mobile-bp) {
    flex-direction: row;
    margin-right: 0;
  }
}
.mp-feature-item__img {
  display: block;
  max-width: 100%;
  margin-bottom: 6px;
  @media all and (max-width: $mobile-bp) {
    margin-right: 18px;
    width: 84px;
    height: 96px;
  }
}
.mp-feature-item__title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6e717d;
  text-transform: uppercase;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
  }
}
.mp-feature-item__text {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  @media all and (max-width: $mobile-bp) {
    font-size: 14px;
  }
}
// CATALOG
.mp-catalog-section {
  margin-bottom: 86px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 34px;
  }
}
.c-container_mp-catalog {
  max-width: 1210px;
}
.mp-catalog__col_small {
  flex-basis: calc(100% / 4);
  max-width: calc(100% / 4);
  @media all and (max-width: $mobile-bp) {
    flex-basis: calc((100% - 10px) / 2);
    max-width: calc((100% - 10px) / 2);
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.mp-catalog__col_big {
  display: flex;
  align-items: center;
  flex-basis: calc(100% / 2);
  max-width: calc(100% / 2);
  padding: 0 10px;
  @media all and (max-width: $mobile-bp) {
    display: none;
  }
}
.mp-catalog-item {
  display: block;
  &:hover {
    text-decoration: none;
  }
}
.mp-catalog-item_small {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
}
.mp-catalog-item_big {
  position: relative;
}
.btn-main_mp-catalog {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 38px;
  padding: 9px 10px 11px 10px;
  width: 170px;
  font-size: 14px;
  line-height: 17px;
}
.mp-catalog-item__img {
  display: block;
  max-width: 100%;
  margin: 0 auto 4px auto;
}
.mp-catalog-item__title {
  min-height: 50px;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
  }
}
.mp-catalog-item__title_blue {
  color: #a5c1cf;
}
.mp-catalog-item__title_gray {
  color: #78859d;
}
.mp-catalog-item__title_pink {
  color: #d4a4cb;
}
.mp-catalog-item__title_green {
  color: #779fa6;
}
.base-page-title_mp-catalog {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  margin-bottom: 50px;
}

// BLOG
.mp-blog-section {
  margin-bottom: 68px;
}

.base-page-title_mp-blog {
  margin-bottom: 50px;
}
.mp-blog__col {
  flex-basis: calc((100% - 50px * 2) / 3);
  max-width: calc((100% - 50px * 2) / 3);
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
  @media all and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
.mp-blog-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #78859d;
}
.mp-blog-item__img-wrapper {
  display: block;
  flex: 0 0 auto;
  height: 207px;
  transition: opacity $base-duration $base-timing;
  &:hover {
    opacity: 0.8;
  }
}
.mp-blog-item__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.mp-blog-item__inner {
  flex-grow: 1;
}
.mp-blog-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.mp-blog-item__header__text {
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  white-space: nowrap;
}
.mp-blog-item__header__icon {
  display: inline-block !important;
  vertical-align: middle;
}
.mp-blog-item__title {
  display: block;
  padding: 0 10px 14px 10px;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #78859d;
  transition: color $base-duration $base-timing;
  @media all and (max-width: $mobile-bp) {
    font-size: 18px;
    line-height: 24px;
  }
  &:hover {
    text-decoration: none;
    color: rgba($color: #78859d, $alpha: 0.8);
  }
}
.mp-blog-item__text {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  padding: 0px 10px 10px 10px;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
  }
}
.btn-main__mp-blog {
  width: 100%;
  padding: 14px;
}
.base-slider-arrow {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    color: transparent;
    z-index: 5;
  }
  .slick-prev {
    left: -18px;
    background-image: url("../images/icons/arrow-prev.svg");
  }
  .slick-next {
    right: -18px;
    background-image: url("../images/icons/arrow-next.svg");
  }
  .slick-disabled {
    opacity: 0.5;
  }
}
