.post-breadcrumbs-section {
  margin-bottom: 40px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 24px;
  }
}
.base-page-title_post {
  margin-bottom: 26px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
}
.post {
  margin-bottom: 130px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 40px;
  }
}
.blog__sidebar-col_post {
  @media all and (max-width: $mobile-bp) {
    display: none;
  }
}
.post__head {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  @media all and (max-width: $mobile-bp) {
    display: none;
  }
}
.post__head_ed {
  @media all and (max-width: $mobile-bp) {
    display: flex;
  }
}
.post__head_mobile {
  display: none;
  @media all and (max-width: $mobile-bp) {
    display: flex;
    margin-bottom: 14px;
  }
}
.post__head__item {
  display: block;
  margin-right: 42px;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  &:last-child {
    margin-right: 0;
  }
}
.post__video {
  position: relative;
  width: 100%;
  padding-top: 50%;
  margin-bottom: 42px;
  background-color: #a5c1cf;
  @media all and (max-width: $mobile-bp) {
    width: auto;
    margin: 0 0 20px 0;
  }
  @media all and (max-width: 500px) {
    padding-top: 100%;
  }
}
.post__video-vebinar_desktop {
  @media all and (max-width: $mobile-bp) {
    display: none;
  }
}
.post__video-vebinar_mobile {
  display: none;
  @media all and (max-width: $mobile-bp) {
    display: block;
  }
}
.post__video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 264px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("../images/icons/play-video.svg");
  @media all and (max-width: $mobile-bp) {
    width: 137px;
    height: 141px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.post__file-block {
  margin-top: 35px;
}
.post__file {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 27px;
  color: #333;
  text-decoration-line: underline;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
  }
  &:hover {
    color: #333;
    text-decoration: none;
  }
}
.post__file-img {
  margin-right: 8px;
}
.post__text {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
  }
}
.post__text_top {
  font-size: 21px;
  line-height: 27px;
  @media all and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 22px;
  }
}
.post__img {
  display: block;
  max-width: 100%;
  @media all and (max-width: 800px) {
    width: 100%;
  }
}
.post__img_left {
  float: left;
  margin: 0 50px 26px 0;
  @media all and (max-width: 800px) {
    float: none;
    margin: 15px 0;
  }
}
.post__img_right {
  float: right;
  margin: 0 0 26px 50px;
  @media all and (max-width: 800px) {
    float: none;
    margin: 15px 0;
  }
}
.post__figure {
  display: block;
  margin-bottom: 30px;
  @media all and (max-width: 800px) {
    margin: 15px 0;
  }
}
.post__figure__img {
  display: block;
  max-width: 100%;
}
.post__figure__caption {
  margin-top: 12px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  @media all and (max-width: 800px) {
    margin-top: 0;
    font-size: 14px;
  }
}
.post__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
}
.post__footer__item {
  display: flex;
  align-items: center;
  margin-right: 57px;
  &:last-child {
    margin-right: 0;
  }
}
.post__footer__icon {
  width: 22px;
  height: auto;
}
.post__footer__text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}
.post__footer__like-btn {
  display: block;
  width: 17px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/blog-like.svg");
}
.post__footer__like-btn_active {
  background-image: url("../images/icons/blog-like-active.svg");
}

// SHARING
.ya-share2__list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}
.ya-share2__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  @media all and (max-width: $mobile-bp) {
    margin-right: 14px;
  }
}
.ya-share2__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity $base-duration $base-timing;
  &:hover {
    opacity: 0.8;
  }
  @media all and (max-width: $mobile-bp) {
    width: 24px;
    height: 24px;
  }
}
.ya-share2__title {
  @extend .visually-hidden;
}
.ya-share2__item_service_vkontakte {
  .ya-share2__link {
    background-image: url("../images/icons/gray-vk.svg");
  }
}
.ya-share2__item_service_facebook {
  .ya-share2__link {
    background-image: url("../images/icons/gray-fb.svg");
  }
}
.ya-share2__item_service_odnoklassniki {
  .ya-share2__link {
    background-image: url("../images/icons/gray-ok.svg");
  }
}
.ya-share2__item_service_twitter {
  .ya-share2__link {
    background-image: url("../images/icons/gray-tw.svg");
  }
}
.ya-share2__item_service_telegram {
  .ya-share2__link {
    background-image: url("../images/icons/gray-tg.svg");
  }
}
// COMMENT
.comment__title {
  margin-bottom: 28px;
  padding-bottom: 14px;
  border-bottom: 1px solid #78859d;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #78859d;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 15px;
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
  }
}
.comment-wrapper_nested {
  padding-left: 110px;
  @media all and (max-width: $mobile-bp) {
    padding-left: 30px;
  }
}
.comment {
  margin-bottom: 28px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 18px;
  }
}
.comment__head {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.comment__head_stars {
  @media all and (max-width: $mobile-bp) {
    flex-wrap: wrap;
  }
}
.comment__head-avatar {
  width: 38px;
  height: 38px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  @media all and (max-width: $mobile-bp) {
    width: 30px;
    height: 30px;
    margin-right: 12px;
  }
}
.comment__head-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.comment__head-name {
  margin-right: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #d4a4cb;
  @media all and (max-width: $mobile-bp) {
    font-size: 14px;
  }
}
.comment__head-name_gray {
  color: #746f6f;
}
.comment__head-date {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  @media all and (max-width: $mobile-bp) {
    font-size: 14px;
    margin-left: auto;
  }
}
.comment__inner {
  margin-bottom: 14px;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 10px;
  }
}
.comment__text {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  @media all and (max-width: $mobile-bp) {
    font-size: 14px;
    line-height: 20px;
  }
}
.comment__btn {
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  &:hover {
    opacity: 0.8;
  }
}
.comment__btn_hide {
  display: none;
}
.comment__text-field {
  display: none;
  margin-top: 40px;
  @media all and (max-width: $mobile-bp) {
    margin-top: 20px;
  }
}
.comment__text-field_show {
  display: block;
}
.comment__inner-textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  border: 1px solid #78859d;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  color: #333;
  @media all and (max-width: $mobile-bp) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}
.comment__btn-submit {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  line-height: 24px;
}
.comment__head-star-wrapper {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  @media all and (max-width: $mobile-bp) {
    max-width: 100%;
    flex-basis: 100%;
    justify-content: flex-start;
    margin-left: 0;
    margin-top: 7px;
  }
}
.comment__head-star {
  flex: 0 0 auto;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/icons/star-icon.svg");
  &:last-child {
    margin-right: 0;
  }
}
